/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  height: 550px;
  background-color: rgb(216, 216, 235);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(137, 137, 157);
  border-radius: 10px;
}

.display {
  height: 60px;
  margin: 20px 15px 20px 15px;
  background-color: white;
  border: 2px solid rgb(137, 137, 157);
  border-radius: 5px;
  font-size: 30px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row {
  height: 60px;
  margin: 0 15px 10px 15px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: rgb(216, 216, 235);
}

.btn {
  width: 60px;
  font-size: 22px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn.active {
  background-color: rgb(216, 216, 235);
  transform: scale(0.95);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.05s ease;
}

.btn:active {
  transform: scale(0.95);
}

.operator {
  background-color: #FFCC00;
}

.clear {
  text-transform: uppercase;
}

.specialOp {
  background-color: rgb(173, 173, 201);
}

.boldText {
  font-weight: bold;
}
